@{
    Layout = "_AdminLayout";
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <style>
        .ql-container {
            height: auto !important;
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script>
        const quill = new Quill('#editor', { theme: 'snow' });

        const form = document.querySelector('form');
        form.addEventListener('formdata', (event) => {
            event.formData.append(
                quill.container.dataset.name,
                quill.getSemanticHTML()
            );
        });
    </script>
}




<h2 class="mb-4">Kategori Ekle</h2>

<form class="row g-3" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Kategori İsmi</label>
        <input required type="text" class="form-control" name="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Kategori Açıklaması</label>
        <input required type="text" class="form-control" name="Description">
    </div>


    <input type="file" name="Image" @* multiple *@ accept="image/png, image/jpeg" />


    <button class="btn-outline-primary">Ekle</button>
</form>